# Classification and data mangling examples using the [Titanic dataset](https://www.kaggle.com/c/titanic) in Kaggle

This kernel illustrates the use of [scikit-learn Pipelines](http://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) for data preparation and easily reproducible transformation.

First import the required libraries:

In [4]:
import pandas as pd, sklearn, numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
rcParams["font.size"] = "16"

Load the datasets. Note that for simplicity, we'll keep the label field `Survived` in the `train` and `test` dataframes until actually starting transformations and predictions.

In [6]:
train = pd.read_csv('./kaggle_titanic_dataset/train.csv')
test = pd.read_csv('./kaggle_titanic_dataset/test.csv')
n_train, m_train = train.shape

Take a peek at the columns:

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

`train.info()` shows that many values in `Age` and `Cabin` columns are missing:

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

Check statistical summary for numerical attributes:

In [13]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Important things to note here are that 
- The dataset is slightly skewed as only 38% survived, which could be important to take into account in cross-validation
- Some values in the `Fare` column are zero
- As noted above, many `Age`s are missing.

As there are lots of data exploration kernels out there, I will skip any further data exploration here and focus on the actual data transformation pipelines. Data exploration shows that `Age` is an important indicator for survival and the missing values should be imputed. The data processing steps carried out below are:
1. Split the dataset into features and labels. To simplify the kernel, we drop `Ticket`, `Cabin`, `Embarked`, and of course `PassengerId` from the feature set.
2. Extract the title from the `Name` field and use it as a feature to impute the missing values. For example, title `Mr.` says that the person in question was not a child.
3. One-hot encode all categorical attributes
4. Convert the dataframe to numpy matrix.

First we split the dataset into features and labels and give them common names `X_train` and `y_train`. Note that these are still dataframes, conversion to NumPy is done just before the prediction algorithms.

In [179]:
def drop_unused_columns(df):
    return df.drop(['PassengerId', 'Cabin', 'Ticket', 'Embarked'], axis=1)

def to_features_and_labels(df):
    y = df['Survived'].values
    X = drop_unused_columns(df)
    X = X.drop('Survived', axis=1)
    return X, y

# Assume that PassengerId and Name do not matter
X_train, y_train = to_features_and_labels(train)
X_test = drop_unused_columns(test)
X_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500

First write a [scikit-learn transformer](http://scikit-learn.org/stable/data_transforms.html) for converting name to title. You may think that there's a lot of overhead in the classes (and that's true), but the transformer classes are highly reusable and therefore may save a lot of time in future.

In [87]:
from sklearn.base import BaseEstimator, TransformerMixin
class DataFrameColumnMapper(BaseEstimator, TransformerMixin):
    def __init__(self, column_name, mapping_func, new_column_name=None):
        self.column_name = column_name
        self.mapping_func = mapping_func
        self.new_column_name = new_column_name if new_column_name is not None else self.column_name
    def fit(self, X, y=None):
        # Nothing to do here
        return self
    def transform(self, X):
        transformed_column = X.transform({self.column_name: self.mapping_func})
        Y = X.copy()
        Y = Y.assign(**{self.new_column_name: transformed_column})
        if self.column_name != self.new_column_name:
            Y = Y.drop(self.column_name, axis=1)
        return Y

# Return a lambda function that extracts title from the full name, this allows instantiating the pattern only once
def extract_title():
    import re
    pattern = re.compile(', (\w*)')
    return lambda name: pattern.search(name).group(1)

# Example usage and output 
df = DataFrameColumnMapper(column_name='Name', mapping_func=extract_title(), new_column_name='Title').fit_transform(X_train)
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    male  22.0      1      0   7.2500        S    Mr
1       1  female  38.0      1      0  71.2833        C   Mrs
2       3  female  26.0      0      0   7.9250        S  Miss
3       1  female  35.0      1      0  53.1000        S   Mrs
4       3    male  35.0      0      0   8.0500        S    Mr

Let's take a look at the transformed names:

In [89]:
df['Title'].value_counts()[1:10]

Miss      182
Mrs       125
Master     40
Dr          7
Rev         6
Col         2
Mlle        2
Major       2
Sir         1
Name: Title, dtype: int64

It seems that only the, say, five most frequent would be useful for imputing ages, so let us write a transformer that transforms the less frequent fields of a categorical attribute as "Other".

In [103]:
class CategoricalTruncator(BaseEstimator, TransformerMixin):
    def __init__(self, column_name, n_values_to_keep=5):
        self.column_name = column_name
        self.n_values_to_keep = n_values_to_keep
        self.values = None
    def fit(self, X, y=None):
        # Here we must ensure that the test set is transformed similarly in the later phase and that the same values are kept
        self.values = list(X[self.column_name].value_counts()[:self.n_values_to_keep].keys())
        return self
    def transform(self, X):
        transform = lambda x: x if x in self.values else 'Other'
        y = X.transform({self.column_name: transform})
        return X.assign(**{self.column_name: y})

CategoricalTruncator('Title', n_values_to_keep=3).fit_transform(df)['Title'].value_counts()

Mr       517
Miss     182
Mrs      125
Other     67
Name: Title, dtype: int64

Let us see what we have done so far by putting the transformers together in a pipeline:

In [125]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('name_to_title', DataFrameColumnMapper(column_name='Name', mapping_func=extract_title(), new_column_name='Title')),
    ('truncate_titles', CategoricalTruncator('Title', n_values_to_keep=3))
])

df = pipeline.fit_transform(X_train)
df['Title'].value_counts()

Mr       517
Miss     182
Mrs      125
Other     67
Name: Title, dtype: int64

Now write a generic imputer that uses values in a given column to compute the mean or median for the group in question.

In [174]:
class ImputerByReference(BaseEstimator, TransformerMixin):
    def __init__(self, column_to_impute, column_ref, impute_type='median'):
        self.column_to_impute = column_to_impute
        self.column_ref = column_ref
        # TODO
        # self.impute_func = np.median if impute_type == 'median' or impute_type is None else np.mean
    def fit(self, X, y=None):
        # Pick columns of interest
        df = X.loc[:, [self.column_to_impute, self.column_ref]]
        # Dictionary containing mean per group
        self.value_per_group = df.groupby(self.column_ref).mean().to_dict()[self.column_to_impute]
        return self
    def transform(self, X):
        def transform(row):
            row_copy = row.copy()
            if pd.isnull(row_copy.at[self.column_to_impute]):
                row_copy.at[self.column_to_impute] = self.value_per_group[row_copy.at[self.column_ref]]
            return row_copy
        return X.apply(transform, axis=1)

ImputerByReference('Age', 'Title').fit_transform(df).head(10)

   Pclass     Sex       Age  SibSp  Parch     Fare Embarked  Title
0       3    male  22.00000      1      0   7.2500        S     Mr
1       1  female  38.00000      1      0  71.2833        C    Mrs
2       3  female  26.00000      0      0   7.9250        S   Miss
3       1  female  35.00000      1      0  53.1000        S    Mrs
4       3    male  35.00000      0      0   8.0500        S     Mr
5       3    male  32.36809      0      0   8.4583        Q     Mr
6       1    male  54.00000      0      0  51.8625        S     Mr
7       3    male   2.00000      3      1  21.0750        S  Other
8       3  female  27.00000      0      2  11.1333        S    Mrs
9       2  female  14.00000      1      0  30.0708        C    Mrs

The full pipeline so far is below. Let us use `.info()` to check that no values are missing any more:

In [185]:
pipeline = Pipeline([
    ('name_to_title', DataFrameColumnMapper(column_name='Name', mapping_func=extract_title(), new_column_name='Title')),
    ('truncate_titles', CategoricalTruncator('Title', n_values_to_keep=3)),
    ('impute_ages_by_title', ImputerByReference('Age', 'Title'))
])

df = pipeline.fit_transform(X_train)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass    891 non-null int64
Sex       891 non-null object
Age       891 non-null float64
SibSp     891 non-null int64
Parch     891 non-null int64
Fare      891 non-null float64
Title     891 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.8+ KB

Now we one-hot encode all categorical attributes using again a generic transformer. Note that the encoding get huge if there are columns with many different values (like `Ticket`). The first step is convert all categorical attributes to numerical ones by factorizing to integers (`Mrs.` is 0, `Mr.` is 1, for example.):

In [213]:
class CategoricalToIntegerFactorizer(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.cat_attribs = None
    def fit(self, X, y=None):
        # Categorical attributes
        self.cat_attribs = X.select_dtypes(exclude='number')
        
        # Keep track of which categorical attributes are assigned to which integer. This is important 
        # when transforming the test set.
        mappings = {}
        
        for col in self.cat_attribs:
            labels, uniques = X.loc[:, col].factorize()
            int_and_cat = list(enumerate(uniques))
            cat_and_int = [(x[1], x[0]) for x in int_and_cat]
            mappings[col] = {'int_to_cat': dict(int_and_cat), 'cat_to_int': dict(cat_and_int)}
    
        self.mappings = mappings
        return self

    def transform(self, X):
        cols = self.cat_attribs
        Y = X.copy()
        for col in self.cat_attribs:
            transformed_col = Y.loc[:, col].transform(lambda x: self.mappings[col]['cat_to_int'][x])
            Y = Y.assign(**{col: transformed_col})
        return Y
    
CategoricalToIntegerFactorizer().fit_transform(df)

     Pclass  Sex        Age  SibSp  Parch      Fare  Title
0         3    0  22.000000      1      0    7.2500      0
1         1    1  38.000000      1      0   71.2833      1
2         3    1  26.000000      0      0    7.9250      2
3         1    1  35.000000      1      0   53.1000      1
4         3    0  35.000000      0      0    8.0500      0
5         3    0  32.368090      0      0    8.4583      0
6         1    0  54.000000      0      0   51.8625      0
7         3    0   2.000000      3      1   21.0750      3
8         3    1  27.000000      0      2   11.1333      1
9         2    1  14.000000      1      0   30.0708      1
10        3    1   4.000000      1      1   16.7000      2
11        1    1  58.000000      0      0   26.5500      2
12        3    0  20.000000      0      0    8.0500      0
13        3    0  39.000000      1      5   31.2750      0
14        3    1  14.000000      0      0    7.8542      2
15        2    1  55.000000      0      0   16.0000      1
16        3    0   2.000000      4      1   29.1250      3
17        2    0  32.368090      0      0   13.0000      0
18        3    1  31.000000      1      0   18.0000      1
19        3    1  35.898148      0      0    7.2250      1
20        2    0  35.000000      0      0   26.0000      0
21        2    0  34.000000      0      0   13.0000      0
22        3    1  15.000000      0      0    8.0292      2
23        1    0  28.000000      0      0   35.5000      0
24        3    1   8.000000      3      1   21.0750      2
25        3    1  38.000000      1      5   31.3875      1
26        3    0  32.368090      0      0    7.2250      0
27        1    0  19.000000      3      2  263.0000      0
28        3    1  21.773973      0      0    7.8792      2
29        3    0  32.368090      0      0    7.8958      0
..      ...  ...        ...    ...    ...       ...    ...
861       2    0  21.000000      1      0   11.5000      0
862       1    1  48.000000      0      0   25.9292      1
863       3    1  21.773973      8      2   69.5500      2
864       2    0  24.000000      0      0   13.0000      0
865       2    1  42.000000      0      0   13.0000      1
866       2    1  27.000000      1      0   13.8583      2
867       1    0  31.000000      0      0   50.4958      0
868       3    0  32.368090      0      0    9.5000      0
869       3    0   4.000000      1      1   11.1333      3
870       3    0  26.000000      0      0    7.8958      0
871       1    1  47.000000      1      1   52.5542      1
872       1    0  33.000000      0      0    5.0000      0
873       3    0  47.000000      0      0    9.0000      0
874       2    1  28.000000      1      0   24.0000      1
875       3    1  15.000000      0      0    7.2250      2
876       3    0  20.000000      0      0    9.8458      0
877       3    0  19.000000      0      0    7.8958      0
878       3    0  32.368090      0      0    7.8958      0
879       1    1  56.000000      0      1   83.1583      1
880       2    1  25.000000      0      1   26.0000      1
881       3    0  33.000000      0      0    7.8958      0
882       3    1  22.000000      0      0   10.5167      2
883       2    0  28.000000      0      0   10.5000      0
884       3    0  25.000000      0      0    7.0500      0
885       3    1  39.000000      0      5   29.1250      1
886       2    0  27.000000      0      0   13.0000      3
887       1    1  19.000000      0      0   30.0000      2
888       3    1  21.773973      1      2   23.4500      2
889       1    0  26.000000      0      0   30.0000      0
890       3    0  32.000000      0      0    7.7500      0

[891 rows x 7 columns]

In [7]:
class DataFrameToValuesTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        self.attribute_names = list(X)
        return X.values

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, StandardScaler

num_pipeline = Pipeline([
    ('selector', DataFrameAttributesSelector(attribute_names=num_attribs)),
    ('to_numpy', DataFrameToValuesTransformer()),
    ('imputer', Imputer(strategy='median')),
    ('scaler', StandardScaler())
])

### Pipeline for processing categorical attributes

In [12]:
from sklearn.pipeline import FeatureUnion
full_pipeline = FeatureUnion(transformer_list=[
    ("num_pipeline", num_pipeline),
    ("cat_pipeline", cat_pipeline)
])

X_train_prepared = full_pipeline.fit_transform(X_train)
print('Size of prepared X:', X_train_prepared.shape)

assert X_train_prepared.shape[0] == len(y_train)

Size of prepared X: (891, 11)

In [13]:
X_train_prepared

<891x11 sparse matrix of type '<class 'numpy.float64'>'
	with 6237 stored elements in Compressed Sparse Row format>

### Try RandomForestClassifier and GridSearchCV with the prepared data

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, make_scorer

param_grid = [
    { 'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8] },
    { 'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]}
]

forest_clf = RandomForestClassifier()
grid_search = GridSearchCV(forest_clf, param_grid, cv=5, return_train_score=True, refit='accuracy',
                           scoring={ 'accuracy': make_scorer(accuracy_score),
                                     'precision': make_scorer(precision_score)
                                   })

cv = grid_search.fit(X_train_prepared, y_train)
cv_results = pd.DataFrame(grid_search.cv_results_)
print('Best test score accuracy is:', grid_search.best_score_)

Best test score accuracy is: 0.813692480359147

In [ ]:
cols = list(grid_search.cv_results_.keys())
cols_of_interest = [key for key in cols if key.startswith('param_') 
                    or key.startswith('mean_train') 
                    or key.startswith('mean_test_')
                    or key.startswith('rank')]
cv_results[cols_of_interest]

In [ ]:
num_attribs_prepared = num_pipeline.named_steps["to_numpy"].attribute_names
cat_attribs_prepared = cat_pipeline.named_steps["cat_to_int_encoder"].categories
attributes = num_attribs_prepared + cat_attribs_prepared

feature_importances = grid_search.best_estimator_.feature_importances_

sorted(zip(feature_importances, num_attribs_prepared + cat_attribs_prepared), reverse=True)

In [25]:
from sklearn.svm import SVC
param_grid = [
    { 'clf': [ RandomForestClassifier() ],
      'clf__n_estimators': [3, 10, 30] 
    },
    { 'clf': [ SVC() ] }
]

clf = Pipeline([
    ('clf', RandomForestClassifier())
])
grid_search = GridSearchCV(clf, param_grid, cv=5, return_train_score=True, refit='accuracy',
                           scoring={ 'accuracy': make_scorer(accuracy_score),
                                     'precision': make_scorer(precision_score)
                                   })

cv = grid_search.fit(X_train_prepared, y_train)
cv_results = pd.DataFrame(grid_search.cv_results_)
print('Best test score accuracy is:', grid_search.best_score_)

cv_results

Best test score accuracy is: 0.8271604938271605

,mean_fit_time,mean_score_time,mean_test_accuracy,mean_test_precision,mean_train_accuracy,mean_train_precision,param_clf,param_clf__n_estimators,params,rank_test_accuracy,...,split4_test_accuracy,split4_test_precision,split4_train_accuracy,split4_train_precision,std_fit_time,std_score_time,std_test_accuracy,std_test_precision,std_train_accuracy,std_train_precision
0,0.009039,0.002184,0.784512,0.714859,0.942764,0.937475,"(DecisionTreeClassifier(class_weight=None, cri...",3,{'clf': (DecisionTreeClassifier(class_weight=N...,4,...,0.790960,0.696203,0.936975,0.922509,0.000773,0.000339,0.030941,0.027747,0.005532,0.017835
1,0.024176,0.003020,0.808081,0.769735,0.971384,0.976022,"(DecisionTreeClassifier(class_weight=None, cri...",10,{'clf': (DecisionTreeClassifier(class_weight=N...,2,...,0.819209,0.764706,0.963585,0.962687,0.000385,0.000089,0.026221,0.034540,0.004549,0.009450
2,0.069361,0.006392,0.805836,0.760939,0.980642,0.980144,"(DecisionTreeClassifier(class_weight=None, cri...",30,{'clf': (DecisionTreeClassifier(class_weight=N...,3,...,0.836158,0.782609,0.974790,0.967153,0.001613,0.000160,0.029805,0.029927,0.003686,0.008697
3,0.012497,0.004123,0.827160,0.812990,0.832496,0.815800,"SVC(C=1.0, cache_size=200, class_weight=None, ...",NaN,"{'clf': SVC(C=1.0, cache_size=200, class_weigh...",1,...,0.847458,0.847458,0.820728,0.801653,0.000654,0.000170,0.012262,0.026726,0.006058,0.008857